body{
    padding: 0;
    margin: 0;
    /* import local image set as background */
    background-image: url('img/image_covid.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}


/* put to container and do flex wrap this makes responsive cards */
.main{
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
}


/* table container  */
.container{
  margin-top: 50px; 
    height: 500px;
    width: 600px;
    background-color: rgba(43, 42, 42, 0.5);
    border-radius: 25px;
   
}


/* information container */
.info{
   
    margin-top: 50px; 
    margin-left: 50px;
    height: 450px;
    width: 400px;
    background-color: rgba(43, 42, 42, 0.5);
    border-radius: 25px;
    
}

.title{
    padding: 20px;
    
}

.title h1{
    text-align: center;
    color: white;
}
table {
    border-collapse: collapse;
    width: 100%;
   
  }

  /* table head putting border */
  th{
    border: 1px solid #070707;
    text-align: left;
    padding: 8px;
    background-color: rgb(128, 128, 245);
  }
  /*  table data border and padding */
  td {  
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
  }

  /* table row background */
  tr {
    background-color: #dddddd;
  }
 
  .text{
    font-size: 20px;
    text-align: justify;
    color: white;
  }

  .info{
    padding: 25px;
    font-size: 20px;
    color: #dddddd;
  }
/* 
    Covid Cases in the Philippines

<!-- Headers -->
Location
Cases
Recovered
Deaths

<!-- Rows -->
Metro Manila
160,000
129,000
2,595
   
Calabarzon
50,568
36,322
539

Central Visayas
21,714
18,939
1,208

*/